<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Remove .php extension -->
                <rule name="Remove PHP Extension" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
                
                <!-- Redirect .php to extensionless (301 Permanent) -->
                <rule name="Redirect PHP Extension" stopProcessing="true">
                    <match url="^(.*)\.php$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
                
                <!-- Handle trailing slash -->
                <rule name="Remove Trailing Slash" stopProcessing="true">
                    <match url="(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
            
            <!-- Handle 404 for missing PHP files -->
            <rewriteMaps>
                <rewriteMap name="PHPFiles">
                    <!-- Add specific file mappings if needed -->
                </rewriteMap>
            </rewriteMaps>
        </rewrite>
        
        <!-- Default document settings -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <!-- PHP handler -->
        <handlers>
            <add name="PHP_via_FastCGI" 
                 path="*.php" 
                 verb="GET,HEAD,POST" 
                 modules="FastCgiModule" 
                 scriptProcessor="C:\PHP\php-cgi.exe" 
                 resourceType="Either" 
                 requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>